<% layout('boilderplate') %>
<% block('head').append('<link rel="stylesheet" href="/css/homeStyles.css">') %>

<div class="presentation-container container-fluid d-flex flex-column align-items-center justify-content-center">
    <div class="presentation d-flex flex-column flex-md-row align-items-center justify-content-around justify-content-md-around w-75 p-3">
        <img src="/img/profile_2.png" alt="profile picture" class="img-fluid order-md-2 rounded-circle">
        <div class="presentation-msg order-md-1 mt-3 d-flex flex-column align-items-center justify-content-center">
            <p class="fs-1 fw-bold text-center">Andree Rojas</p>
            <p class="fs-3 fw-semibold text-center">Software developer</p>  
            <p class="fs-4 text-center"><i class="bi bi-geo-alt-fill me-3"></i> Milano, Italia</p>
            <p class="fs-4 text-center"><i class="bi bi-telephone-fill me-3"></i>+39 3515808555</p>
            <button type="button" class="btn btn-dark buttons d-flex align-items-center" data-bs-toggle="modal" data-bs-target="#exampleModal">
                RESUME <i class="bi bi-box-arrow-up-right ms-2"></i>
            </button>
            <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Choose a language</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body">
                    <div class="form-check">
                      <input class="form-check-input" type="radio" name="cvLanguage" id="english" value="english" checked>
                      <label class="form-check-label" for="english">English</label>
                    </div>
                    <div class="form-check">
                      <input class="form-check-input" type="radio" name="cvLanguage" id="italian" value="italian">
                      <label class="form-check-label" for="italian">Italiano</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="cvLanguage" id="spanish" value="spanish">
                        <label class="form-check-label" for="spanish">Español</label>
                      </div>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <a class="btn btn-primary" href="" target="_blank" rel="noopener noreferrer">Download CV</a>
                  </div>
                </div>
              </div>
            </div>
        </div>
    </div>
</div>
<div class="container d-flex align-items-end title-container">
    <h2 class="fs-1 me-3 lh-1">Projects</h2>
    <span class="fs-4 handwrite-text lh-lg">I have been working on</span>
</div>

<div class="container mt-5 projects-container px-5">
    <%for(let project of projects){%>
        <a href="<%= project.link %>" target="_blank" rel="noopener noreferrer" class="text-decoration-none text-dark shadow">
            <div class="project card border border-1 border-light rounded rounded-2 h-100">
                <img src="<%= project.img %>" alt="project image" class="img-fluid rounded-top flex-shrink-1">
                <div class="card-body flex-shrink-0">
                  <h3 class="card-title fs-4"><%= project.title %></h3>
                  <p class="card-text"><%= project.description %></p>
                </div>
            </div>
        </a>
    <%}%>
</div>
<script>
    const cvLinks = <%-JSON.stringify(links)%>
</script>
<% block('footer').append('<script src="/js/cvLanguage.js"></script>') %>


